<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>
  <style type="text/css">
    body {
      background-color: #dfdfdf;
      width: 100%;
      height: 100%;
      position: relative;
    }

    div {
      background-color: #fff;
      box-shadow: 3px 3px 7px rgba(0, 0, 0, .3);
      width: 70%;
      align-content: center;
      position: relative;
      margin: 0 auto;
      text-align: center;
    }

    ul.li {
      list-style-type: none;
    }
  </style>
</head>

<body>
  <div>
    {{ content }}
  </div>
  <script type="text/javascript" src="https://d33wubrfki0l68.cloudfront.net/bundles/c5a2161939e7731b7f4648184ac9ad46a68f9b67.js">
  </script>
  <canvas id="c_n4" width="1464" height="960" style="position: fixed; top: 0px; left: 0px; z-index: -1; opacity: 0.5;">
  </canvas>
</body>

</html>